body{
	margin: 0px;
	padding: 0px;
	background-color: #990099;
}
.navbar-nav li a:hovor{
background-color: blue
}




.screen{
	height: 500px;
	background-color: black;
}
.screen-pro
{
	padding-top:100px ; 
}
.img-circle{
	border: solid 5px black;
	border-radius: 50%;
	width:220px;
	 height: 220px;

}
.media-heading{
	font-size: 40px;
	color: white;
}
.skills
{
	background-color:#008ae6;
}
.img-skill
{
	border: solid 5px white;
	border-radius: 50%;
	width:100px;
	 height: 100px;
	 box-shadow: 5px;
	 transition:;
}




/* education style*/

/*footer profile*/
.project{
	background-color: #fff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  margin: 0px 5px 0px 5px;
}
